.card {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    margin-left: 15px;
    flex-shrink: 0;
}

.image-container {
    position: relative;
    width: 170px;
    height: 170px;
    cursor: pointer;
}

.image-container img {
    width: 170px;
    height: 170px;
    border-radius: 4px;
    transition: transform 0.3s ease;
    margin-left: 6px;
}

.image-container:hover img {
    transform: scale(1.05);
}

.music_description {
    margin-left: 30px;
    margin-bottom: 10px;
}

.music-title {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.artist-title {
    text-align: center;
    margin-top: 5px;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 700;
}

.artist {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    text-align: left;
    margin-left: 4px;
    margin-bottom: 10px;
}

.album {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    text-align: left;
    margin-left: 4px;
    margin-bottom: 10px;
}

.like_song {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    text-align: left;
    margin-left: 4px;
}

.card-slide {
    width: 170px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    margin-left: 30px;
    flex-shrink: 0;
}

.card-slide img {
    border-radius: 4px;
    width: 150px;
    height: 150px;
    margin-left: 6px;
}

.card-slide-artist {
    width: 170px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    flex-shrink: 0;
    cursor: pointer;
}

.card-slide-artist img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 15px;
}

.card-slide-artist img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.playlist-swiper {
    width: 100%;
    overflow: hidden; /* Hide overflow to keep slides inside container */
}

.playlist-swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px; /* Adjust space between slides */
}

.recently-played-swiper {
    width: 100%;
    overflow: hidden; /* Hide overflow to keep slides inside container */
}

.recently-played-swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px; /* Adjust space between slides */
}

.artists-swiper {
    width: 100%;
    overflow: hidden; /* Hide overflow to keep slides inside container */
}

.artists-swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 55px; /* Adjust space between slides */
    margin-left: 20px;
}

.swiper-slide {
    flex-shrink: 0;
    width: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
}

.swiper-pagination-bullet {
    background: #666;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: #000;
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.prev-button {
    left: 35px;
}

.next-button {
    right: 30px;
}

.playlist-container:hover .prev-button,.playlist-container:hover .next-button {
    opacity: 1;
}

.recently-played-container:hover .prev-button,.recently-played-container:hover .next-button {
    opacity: 1;
}

.artists-container:hover .prev-button,.artists-container:hover .next-button {
    opacity: 1;
}

.play-button {
    position: absolute;
    bottom: 8px;
    right: 3px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    opacity: 0;
}

/* Show play button on hover */
.image-container:hover .play-button {
    opacity: 1;
    transform: scale(1.1);
}

.play-btn {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}